# Prerequisites
*.d

# Visual Studio Solution files
*.sln

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
# Visual Studio files
.vs/

# Folder with executables for x64 systems
x64/

# Exteranl folder with SFML library
External/

# Visual Studio files
main/.vs/

# Folder with executables for x64 systems
main/x64/

main/*.vsxproj
main/*.vsxproj.filters
main/*.vsxproj.user